/* Styling of agenda items of student page*/

.date-top {
    border-radius: 5px 5px 0 0;
    margin-top: 15px;
    margin-left: 5%;
    width: 80%;
    color: #fff;
    display: block;
    float: left;
    font-size: 1.1em;
    background-color: #11270B;
}

.date-top > p {
    text-transform: capitalize;
    margin: 5px;
}

.date-bottom > p {
    margin: 0;
}

.date-bottom {
    height: 5vh;
    border-radius: 0 0 5px 5px;
    margin-left: 5%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4dddd;
    font-size: 1em;
    clear: both;
}

.date-div {
    text-align: center;
    position:absolute;
    width: 40%;
    left: 0;
    top: 0;
    height: auto;
}


#events-container {
    margin: 0;
    padding: 0;
    max-height: 40vh;
    max-width: 50vw;
}

.date-div > p {
    width: 30%;
    margin-left: 10%;
    font-size: 1em;
    color: #FFF;
}

.date-image {
    height: auto;
    position: absolute;
    right: 10px;
    margin-left: 10px;
    width: 20%;
}

.date-text {
    margin: 10px 10px 10px 37%;
    width: 50%;
    float: left;
}

.border-2px {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.event-div {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

p.location {
    margin: 0;
    font-size: 0.8em;
    color: #596869;
}