/* Styling of contact section promotion page*/

.header-title {
    text-align: center;
    color: #00bfff;
}

.fadeIn {
    animation-duration: 3s;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 80px;
    height: 80px;
    border: 8px solid #D2F898;
    line-height: 80px;
    border-radius: 50%;
    background: #11270B;
    vertical-align: middle;
}

.box > .icon:hover > .image {
    background: #596869;
}

.box > .icon > .image > i {
    font-size: 36px !important;
    color: #D2F898 !important;
    margin-top: 21px;
}

.box > .icon:hover > .image > i {
    color: #D2F898 !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #D2F898;
    padding: 15px 0 10px 0;
    min-height: 120px;
}

.box > .icon:hover > .info {
    background: rgba(89, 104, 105, 0.8);
    border-color: #D2F898;
    color: white;
}

.box > .icon > .info > h3.title {
    font-family: "Robot", sans-serif !important;
    font-size: 16px;
    color: #fcfcfc;
    font-weight: 700;
    margin-top: 20px;
}

.box > .icon > .info > p {
    font-family: "Robot", sans-serif !important;
    font-size: 13px;
    color: #fcfcfc;
    line-height: 1.5em;
}

.box > .icon > .info > .more a {
    font-family: "Robot", sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}

.box .space {
    height: 30px;
}

@media only screen and (max-width: 768px) {

    .second-portion {
        margin-top: 20px;
    }
}

#contactSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://i2.wp.com/www.svhestia.nl/v1/wp-content/uploads/2016/01/doorenveste.jpg?fit=1772%2C940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#row-contact {
    padding: 15px;
}

#title-contact {
    color: #FCFCFC;
    text-shadow: 2px 2px 4px #000000;
}