/* Styling of fact of the day block*/

#fact {
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    border: 1px solid #11270B;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fact a {
    text-decoration: none;
    color: #71B340;
}

#fact a:hover {
    color: #11270B;
    cursor: pointer;
}

#fact > p {
    font-size: 1.2em;
}

.fact-text {
    margin-top: 3rem;
    width: 50%;
    float: left;
    margin-left: 25%;
}

.fodd-image {
    height: 50%;
    margin-left: auto;
    width: auto;
    margin-top: 50px;
}

.fact-text a {
    color: #D2F898;
}

.fact-text h1 {
    text-shadow: 2px 2px 4px #000000;
}