/* Styling of feedback form*/


.label {
    margin: 2px 0;
}

.field {
    margin: 0 30px 20px 0;
}

.content {
    width: 960px;
    margin: 0 auto;
}

div#central {
    margin: 40px 0 100px 0;
}

@media all and (min-width: 768px) and (max-width: 979px) {
    .content {
        width: 750px;
    }
}

@media all and (max-width: 767px) {

    .content {
        width: auto;
    }
    div#central {
        margin: 40px 20px 100px 20px;
    }
}

.contactBody {
    font-family: 'Helvetica', Arial, sans-serif;
    background: #ffffff;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-size: initial;
    line-height: 1.7em;
}

.inputField,.inputTextarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
}

#send-message {
    max-width: 200px;
    background: #71B340;
    border: none;
    color: rgb(40, 40, 40);
    font-size: 1em;
    font-family: "Georgia", Times, serif;
    cursor: pointer;
    border-radius: 4px;
}

#message {
    padding: 0 40px 0 0;
}

#mail-status {
    padding: 12px 20px;
    width: 100%;
    display: none;
    font-size: 1em;
    font-family: "Georgia", Times, serif;
    color: rgb(40, 40, 40);
}

.error {
    background-color: #F7902D;
    padding: 10px 0 10px 10px;
    margin: 20px 0 10px 0;
    border-radius: 4px;
}
