/* Styling of footer*/

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;

    padding: 20px 0;

    text-align: center;
    bottom: 0;
    width: 100vw;
    background-color: #11270B;
    color: #FFF;
    max-width: none !important;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: #D2F898;
}

.footer a:hover {
    color: #71B340;
    cursor: pointer;
}