/* Styling of header*/

@media screen and (min-width: 1024px) {
    #login-navbar {
        float: right;
        margin-right: 10px;
    }
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}

#search-form {
    margin-right: 35%;
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}



.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.cards-custom{
    padding-left:3vw;
    padding-right:3vw;
}

#section1opendagen {
    padding-left: 3vw;
    padding-right: 3vw;
}

@media screen and (max-width: 1024px) {

    .navbar {
        min-height: 7vh;
    }

    .navbar-brand {
        font-size: 3rem;
        margin-left: 2%;
    }

    .navbar-nav {
        float: none !important;
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        font-size: 2em;
    }

    .navbar-toggler-icon {
        width: 3em;
        height: 3em;
    }

}