/* Styling of the information blocks on the promotion page*/

* { box-sizing: border-box; }

body { font-family: sans-serif;}

/* ---- grid ---- */

#upperBlocks .grid {
    background: #EEE;
    width: 1400px;
    height: 248px;
}

#coursesBlocks .grid {
    background: #EEE;
    width: 1400px;
    height: 1155px;
}


#informationBlocks .grid {
    background: #EEE;
    width: 1400px;
    height: 1080px;
}

#studentBlocks .grid {
    background: #EEE;
    width: 1400px;
    height: 1728px !important;
}

.grid {
    background: #EEE;
    width: 1400px;
    height: 1080px;
}


/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
    width: 30.77%;
}

#upperBlocks .grid-sizer,
#upperBlocks .grid-item {
    width: 48.5%;
}

#coursesBlocks .grid-sizer,
#coursesBlocks .grid-item {
    width: 22.8%;
}

#studentBlocks .grid-sizer,
#studentBlocks .grid-item {
    width: 22.8%;
}

.scroll-y {
    overflow-y: scroll !important;
}

.blank-background {
    background-color: #e4fac1 !important;

}

.grid-item {
    height: 22.22%;
    float: left;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.grid-item--width2 { width:  64.5%; }
.grid-item--width3 { width:  100%; }


.grid-item--height-upper-blocks {height: 95%;}


.grid-item--height-courses-blocks {height: 23.0%;}
.grid-item--width2-courses-blocks {width:  48.4% !important;}


.grid-item--height-student-blocks {height: 14.3% !important;}
.grid-item--height2-student-blocks {height: 21.5% !important;}
.grid-item--height3-student-blocks {height: 28.7% !important;}
.grid-item--width2-student-blocks {width: 48.7% !important;}
.grid-item--width3-student-blocks {width: 73% !important;}
.grid-item--width4-student-blocks {width: 100% !important;}





.grid-item--height2 { height: 37.04%; }
.grid-item--height3 { height: 47.20%; }
.grid-item--height4 { height: 66.67%; }



#informationBlocks,
#upperBlocks,
#coursesBlocks,
#studentBlocks{
    overflow-x: scroll;
    overflow-y: hidden;
}

#upperBlocks .grid-item {
    margin-bottom: 0;
}

.no-scroll::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    /* optional: just make scrollbar invisible */
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    background: transparent;
}

/**** COURSE BLOCKS */

.vakken-ul {
    float: left;
    width: 25%;
    height: 100%;
    margin-right: 2%;
    padding: 0 1% 1%;
    list-style-type: none;
}

.modal-title {
    margin-left: 1%;
}

.vak > a {
    display: block;
    padding: 5px;
}

.vak > a:hover {
    color: rgb(100, 100, 100);
}

.vak.active {
    background-color: #bbe47c;
}

.vak:hover {
    background-color: #bbe47c;
}

.vak {
    border: 0 solid rgba(123, 123, 123, 0.498039);
    margin-bottom: 5%;
    border-radius: 4px;
    color: rgb(100, 100, 100);
    background-color: #D2F898;
    box-shadow: rgba(0,0,0,0.5) 0 1px 2px 0;
}

.description {
    margin-left: 27%;
}

@media screen and (max-width: 1024px) {
    .modal > h4 {
        font-size: 3em;
    }

    .desc {
        font-size: 2em;
    }

    a.subj-link {
        font-size: 1.2em;
    }

    .btn {
        font-size: 3rem;
    }

}

