/* Styling of links block on student page*/


/* Slider is also used for inf block*/
.slider {
    width: 0;
    background: #71B340;
    transition: width 0.5s;
    margin-left: 80px;
}

.linkimg {
    height: 50px;
    width: auto;
}

.top {
    position: absolute;
    width: 480px;
    cursor: pointer;
}

.top:hover ~ .bottom {
    width: 480px;
}

.linkname {
    font-size: 2em;
}

.wraper {
    display: grid;
    grid-template-columns: 475px 475px;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
}

/*information block styling*/
.inf-name {
    font-size: 1.5em;
}

.inf-img {
    width: auto;
}

.inf-bottom {
    margin-left: 40px;
}

.linkTitle {
    margin-top: 10px;
    margin-left: 10px;
}

.inf-top {
    position: absolute;
    width: 280px;
    cursor: pointer;
}

.fa-external-link, .fa-info {
    color: #71B340
}

.inf-top:hover ~ .inf-bottom {
    width: 280px;
}

.inf-top-margin {
    margin-top: 10px;
}

.li:link, .li:visited {
    color: black;
    text-decoration: none;
}

.li:link:active, .li:visited:active {
    color: black;
}

