/* Styling of the news section on the student page*/

.newsContent {
    margin-left: 1.5%;
}

.newsTitle, .event-title {
    margin-top: 10px;
    margin-left: 10px;
}

.normal {
    font-weight: 300;
}

#news {
    padding: 10px;
}

.newsMedia-object {
    width: 20%;
    height: auto;
    margin-right: 2%;
}

.fa-newspaper-o, .fa-calendar {
    color: #71B340
}

.toNewsModal {
    color: #71B340;
    font-style: italic;
    cursor: pointer;
}

/*!* Background image settings for Modal*!*/
.bg-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 20%;
    z-index:2;
}

.modal-header {
    color: #000000;
}

.modal-header h1 {
    color: #000000;
}

/* Scrolling functionality news content*/
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}


/* The Close Button */
.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    float: right;

    /* add extra space from the corner */
    margin-top: 1%;
    margin-right: 1%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}