/* Main stylesheet for web application, importing all sub stylesheets*/


/* Imports in alphabetic order!*/
@import "agendaItems.css";
@import "carouselSlideShow.css";
@import "contact.css";
@import "factOfTheDay.css";
@import "feedback.css";
@import "footer.css";
@import "header.css";
@import "hoverEffect.css";
@import "informationBlocks.css";
@import "links.css";
@import "news.css";
@import "team.css";

* {
    font-family: 'Alegreya Sans', serif !important;
}

.logo {
    height: 64px;
    width: auto;
    margin-right: 20px;
}

.modal-dialog {
    max-width: 90vw;
    min-height: 50vh;
}

.text-center {
    width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: #e4fac1;

}

a {
    color: inherit;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

.bg-green {
    background-color: #71B340;
    color: #FFF;
}

.fa {
    font-family: FontAwesome, serif !important;
}

.top-fixed {
    top: 0;
    z-index: 10;
    padding-top: 10px;
    background-color: #fff;
    position: sticky;
}

.height-100 {
    height: 100%;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #71B340 url(https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 100000;
}

.no-touch .cd-top:hover {
    background-color: #71B340;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

.display-1 {
    font-weight: 100 !important;
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
