/* Styling of the team modal and all the team members on the student page*/

*, *:after, *:before {box-sizing: inherit;}
* {margin:0;padding:0;border: 0 none;}
:root {
    --sinSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --Nhexa: 4;
    --gap: 2vw;
    --size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
}
@media only screen and (min-width: 1100px) {:root {--Nhexa: 6;}}
@media only screen and (max-width: 600px) {
    :root {--Nhexa: 2;}
}

.spacing {
    height: 1pt;
}

.team-dialog {
    height: 80vh;
}

.team-content {
    height: 100%;
}

.sectionStuff {
    margin: 15vh 50px 50px;
    width: calc(var(--size) * calc(var(--Nhexa) - 1));
    display: grid;
    grid-template-columns: repeat(var(--Nhexa), 1fr);
    grid-gap: var(--gap);
}

.articleContent {
    background: #596869;
    width: var(--size);
    height: calc(var(--size) / 1.1111111);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    margin-right: calc(var(--size) / 2);
    color: #fff;
    overflow: hidden;
}
.articleContent:nth-child(2n) {margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);}
.articleContent::before {
    content: '';
    float: left;
    width: 25%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
}
.teamImg {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 50%;
    transition: .75s;
    clip-path: inherit;
    z-index:  10;
}
.articleContent:hover .teamImg {transform: translate(-50%, -50%) rotate(-120deg);}
.h2Style {font-size: 75%;}
.Teamfigure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 50%;
    height: 100%;
    font-size: calc(9 / var(--Nhexa) * 1vw);
    line-height: 1;
    color: #fff;
    transition: .75s .05s;
    text-align: center;
    position: relative;
}
.Teamfigure .paragraphStuff {
    font-size: 60%;
    line-height: 1.2;
    width: 100%;
}

.Teamh1 {
    text-indent: 1%;
    font-weight: 400;
    color: #fff;
}

.bodyStuff > .paragraphStuff {
    font-size: 1.5rem;
    margin: 2rem 0 1rem calc(var(--size) * .5);
    font-weight: 200;
}

.buildModal {
    cursor: pointer;
}

.toModal {
    color: #71B340;
    font-style: italic;
    font-size: 70%;
}

.modal-header h1 {
    color: #000000;
}

/* Scrolling functionality news content*/
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
    background-color: #e4fac1;
}

.fa-users {
    color: #71B340;
}

/* The Close Button */
.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    float: right;

    /* add extra space from the corner */
    margin-top: 1%;
    margin-right: 1%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}